@model Exploreh.Model.Perfil.PerfilModel

@{
    ViewBag.Title = "Cadastrar Perfil";
}

<style>
    .input-fields {
        margin: 10px;
    }
</style>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        Cadastro de Perfil
                    </div>
                    <div class="panel-body">
                        <div style=""></div>
                        <div class="input-group input-fields">
                            <span class="input-group-addon">Nome</span>
                            <input id="Nome" type="text" class="form-control" name="Nome" placeholder="Nome do perfil">
                        </div>

                        <div class="input-fields">
                            <button type="submit" class="btn w-xs btn-primary"> <i class="fa fa-check"></i> Salvar </button>
                        </div>
                    </div>

                    <div class="input-fields">
                        <button onclick="location.href='@Url.Action("Lista", "Perfil")'" class="btn w-xs btn-danger"> <i class="glyphicon glyphicon-chevron-left"></i> Voltar </button>
                    </div>


                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
